## Repaso MySQL
---

## Analítica de Grandes Datos
* ##### Facultad de Minas
* ##### Universidad Nacional de Colombia
* ##### Autor: Valentina Vásquez Hernandez

#### 0. ¿Cómo ejecuto el código de este taller?

* **Paso 1.** Ejecutar la imagen de docker `jdvelasq/mariadb:10.3.34` [click aquí para ver el comando](https://jdvelasq.github.io/courses/analitica_de_grandes_datos/index.html#sesion-05-2022-06-10)
* **Paso 2.** Una vez se encuentren dentro de la imágen, pueden seguir cualquiera de las siguientes opciones: 
    > **Paso 2.1.** Clonar el repositorio de los talleres dentro de su máquina e inicializar jupyter [lab o notebook] en el directorio donde se encuentre este libro .ipynb
    
    > **Paso 2.2.** Ejecutar el comando `mariadb -u root` y escribir los comandos directamente en la consola MariaDB

---

### 1. ¿Qué es MySQL?

Es el sistema de base de datos relacionales más extendido en el mundo. Se caracteriza por contar con una arquitectura cliente-servidor, tener una compatibilidad completa con `SQL` (lenguaje estandar en la comunidad), y sobretodo, cuenta con una combinación de código abierto y distribución comercial; es decir, permite a pequeñas empresas tener acceso a un almacenamiento escalable y, a través de `Oracle - MySQL HeatWave Data Database Service - Enterprise Edition (entre otros productos)`, facilidades para realizar migración a la distribución comercial.

`MariaDB` es una distribución *OpenSource* de MySQL, creado por ex-empleados y fundadores de MySQL, quienes no estaban de acuerdo con la distribución comercial y sus politicas. entre sus objetivos de encuentra disminuir la brecha de conocimiento entre principiantes y expertos, ofrecer continuidad en el ecosistema y mantener el código abierto. [1](https://mariadb.org/about/) 

> Esquema base de datos relacional [2](https://www.pragimtech.com/blog/mongodb-tutorial/relational-and-non-relational-databases/)


<img src="relationaldb.jpg" alt="drawing" width="600"/>

**Principales comandos:**

* `SELECT`, `SELECT DISTINCT`: comando obligatorio en cualquier sentancia. Selecciona todos los registros y únicos, respectivamente.
* `WHERE`, `HAVING`: permiten filtrar columnas de la tabla, estáticos y calculados, respectivamente.
* `ORDER BY`: ordena el resultado de una columna de acuerdo a lo que especifique el usuario.
* `CREATE USER`. `DROP USER`,`GRANT`, `SHOW GRANTS FOR`, `REVOKE`: comandos para crear/modificar/actualizar roles.
* `SHOW DATABASES`, `CREATE DATABASE`, `DROP DATABASE`: comandos básicos para manejar databases.
* `SHOW TABLES`, `CREATE TABLE`, `DROP TABLE`, `ALTER TABLE`: comandos básicos para manejar tablas.
* `INSERT INTO`, `DELETE`, `UPDATE`
* `COUNT`, `MAX`, `MIN`, `SUM`, `GROUP BY`: funciones de agregación.

**Estructura:**    
> Database 
>> Tables


*Documentación*: https://dev.mysql.com/doc/refman/8.0/en/mysql-commands.html

### 1. ¿Cómo uso MySQL/MariaDB?

El valor agregado de MariaDB es replicar un entorno productivo de manera local, *OpenSource* y explorar la integración de varias herramientas con un sistema de gestión de bases de datos.

In [1]:
##Se debe verificar que esté instalada la librería mariadb en Python
##Esta instalación se encuentra por defecto si se encuentran en la imagen de Docker jdvelasq/mariadb:10.3.34
!pip3 install mariadb

Requirement already satisfied: mariadb in /usr/local/lib/python3.8/dist-packages (1.0.11)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
WARNING: There was an error checking the latest version of pip.

In [1]:
## Se crea una carpeta donde se almacenarán los scripts en formato .sql
!rm -rf tmp
!mkdir -p tmp

In [2]:
import mariadb

conn = mariadb.connect(
    user="root",
    password="",)

cur = conn.cursor()

A continuación se crea la base de datos a usar y se establece el esquema de la tabla:

In [12]:
cur.execute("DROP DATABASE IF EXISTS vehicles;")
cur.execute("CREATE DATABASE vehicles;")

In [13]:
## Se ubica en la nueva database
cur.execute("USE vehicles;")

Se debe especificar el tipo de dato que contiene la tabla:

In [14]:
## Se crea la tabla 
cur.execute("DROP TABLE IF EXISTS cars;")

cur.execute(
    """
    CREATE TABLE cars (
        Id             INT,
        symboling      FLOAT(8,4),
        normalized_losses      INT,
        make      VARCHAR(20),
        fuel_type      VARCHAR(20),
        aspiration      VARCHAR(20),
        num_of_doors      VARCHAR(20),
        body_style      VARCHAR(20),
        drive_wheels      VARCHAR(20),
        engine_location      VARCHAR(20),
        wheel_base       FLOAT(8,4),
        length      FLOAT(8,4),
        width      FLOAT(8,4),
        height      FLOAT(8,4),
        curb_weight      FLOAT(8,4),
        engine_type      VARCHAR(20),
        num_of_cylinders      VARCHAR(20),
        engine_size      FLOAT(8,4),
        fuel_system      VARCHAR(20),
        bore      FLOAT(8,4),
        stroke      FLOAT(8,4),
        compression_ratio      INT,
        horsepower      INT,
        peak_rpm      INT,
        city_mpg      INT,
        highway_mpg      INT,
        price      INT
        );
    """
)

conn.commit()

A continuación se cargaran los datos `data/cars.csv` a una tabla, de los cuales se puede leer la descripción en el archivo `data/description.txt`:

In [15]:
import pandas as pd

drivers = pd.read_csv("data/cars.csv", sep=";")
n = 1
for i, row in drivers.iterrows():
    sql = "INSERT INTO cars VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
    cur.execute(sql, tuple([n] + list(row)))   
    conn.commit()
    n += 1

conn.close()

In [16]:
!mariadb -u root -e "USE vehicles;SHOW TABLES"

+--------------------+
| Tables_in_vehicles |
+--------------------+
| cars               |
+--------------------+

In [17]:
!mariadb -u root -e "USE vehicles; SELECT * FROM cars LIMIT 5;"

+------+-----------+-------------------+------+-----------+------------+--------------+------------+--------------+-----------------+------------+----------+---------+---------+-------------+-------------+------------------+-------------+-------------+--------+--------+-------------------+------------+----------+----------+-------------+-------+
| Id   | symboling | normalized_losses | make | fuel_type | aspiration | num_of_doors | body_style | drive_wheels | engine_location | wheel_base | length   | width   | height  | curb_weight | engine_type | num_of_cylinders | engine_size | fuel_system | bore   | stroke | compression_ratio | horsepower | peak_rpm | city_mpg | highway_mpg | price |
+------+-----------+-------------------+------+-----------+------------+--------------+------------+--------------+-----------------+------------+----------+---------+---------+-------------+-------------+------------------+-------------+-------------+--------+--------+-------------------+------------+----------+----------+-------------+-------+
|    1 |    2.0000 |               164 | audi | gas       | std        | four         | sedan      | 4wd          | front           |    99.4000 | 176.6000 | 66.4000 | 54.3000 |   2824.0000 | ohc         | five             |    136.0000 | mpfi        | 3.1900 | 3.4000 |                 8 |        115 |     5500 |       18 |          22 | 17450 |
|    2 |    1.0000 |               158 | audi | gas       | std        | four         | sedan      | fwd          | front           |   105.8000 | 192.7000 | 71.4000 | 55.7000 |   2844.0000 | ohc         | five             |    136.0000 | mpfi        | 3.1900 | 3.4000 |                 8 |        110 |     5500 |       19 |          25 | 17710 |
|    3 |    1.0000 |               158 | audi | gas       | turbo      | four         | sedan      | fwd          | front           |   105.8000 | 192.7000 | 71.4000 | 55.9000 |   3086.0000 | ohc         | five             |    131.0000 | mpfi        | 3.1300 | 3.4000 |                 8 |        140 |     5500 |       17 |          20 | 23875 |
|    4 |    2.0000 |               192 | bmw  | gas       | std        | two          | sedan      | rwd          | front           |   101.2000 | 176.8000 | 64.8000 | 54.3000 |   2395.0000 | ohc         | four             |    108.0000 | mpfi        | 3.5000 | 2.8000 |                 9 |        101 |     5800 |       23 |          29 | 16430 |
|    5 |    0.0000 |               192 | bmw  | gas       | std        | four         | sedan      | rwd          | front           |   101.2000 | 176.8000 | 64.8000 | 54.3000 |   2395.0000 | ohc         | four             |    108.0000 | mpfi        | 3.5000 | 2.8000 |                 9 |        101 |     5800 |       23 |          29 | 16925 |
+------+-----------+-------------------+------+-----------+------------+--------------+------------+--------------+-----------------+------------+----------+---------+---------+-------------+-------------+------------------+-------------+-------------+--------+--------+-------------------+------------+----------+----------+-------------+-------+

Dada la integración con Python, es posible ejecutar consultas sobre MariaDB e interactuar con funciones de usuario en Python:

In [ ]:
USE vehicles;
SELECT make,
fuel_type,
num_of_doors,
MIN(price) AS min_price,
AVG(price) AS avg_price,
MAX(price) AS max_price
FROM cars
GROUP BY fuel_type,num_of_doors,make 
ORDER BY max_price;

In [9]:
!mariadb -u root -e "USE vehicles; SELECT make,fuel_type, num_of_doors,MIN(price) AS min_price,AVG(price) AS avg_price,MAX(price) AS max_price FROM cars GROUP BY fuel_type,num_of_doors,make ORDER BY max_price;"

+---------------+-----------+--------------+-----------+------------+-----------+
| make          | fuel_type | num_of_doors | min_price | avg_price  | max_price |
+---------------+-----------+--------------+-----------+------------+-----------+
| chevrolet     | gas       | two          |      5151 |  5723.0000 |      6295 |
| chevrolet     | gas       | four         |      6575 |  6575.0000 |      6575 |
| nissan        | diesel    | two          |      7099 |  7099.0000 |      7099 |
| subaru        | gas       | two          |      5118 |  6591.3333 |      7603 |
| volkswagen    | diesel    | two          |      7775 |  7775.0000 |      7775 |
| plymouth      | gas       | two          |      5572 |  6764.5000 |      7957 |
| dodge         | gas       | four         |      6229 |  7362.7500 |      8921 |
| plymouth      | gas       | four         |      6229 |  7362.7500 |      8921 |
| mitsubishi    | gas       | four         |      6989 |  8434.0000 |      9279 |
| volkswagen    | diesel    | four         |      7995 |  8745.0000 |      9495 |
| mitsubishi    | gas       | two          |      5389 |  7399.0000 |      9959 |
| volkswagen    | gas       | two          |      7975 |  8977.5000 |      9980 |
| volkswagen    | gas       | four         |      8195 |  8895.0000 |      9995 |
| honda         | gas       | two          |      5399 |  7465.7500 |     10345 |
| mazda         | gas       | two          |      5195 |  7505.0000 |     10595 |
| toyota        | diesel    | four         |      7788 |  8794.6667 |     10698 |
| subaru        | gas       | four         |      7126 |  9191.2222 |     11694 |
| honda         | gas       | four         |      7295 |  9335.0000 |     12945 |
| dodge         | gas       | two          |      5572 |  8217.5000 |     12964 |
| nissan        | gas       | four         |      6849 |  9954.5556 |     14399 |
| toyota        | gas       | four         |      6488 |  9024.5714 |     15690 |
| toyota        | gas       | two          |      5348 | 10562.0000 |     17669 |
| peugot        | diesel    | four         |     13200 | 16016.6667 |     17950 |
| saab          | gas       | two          |     11850 | 15013.3333 |     18150 |
| peugot        | gas       | four         |     11900 | 15565.0000 |     18150 |
| mazda         | gas       | four         |      6695 | 10392.5000 |     18280 |
| saab          | gas       | four         |     12170 | 15433.3333 |     18620 |
| nissan        | gas       | two          |      5499 | 11349.0000 |     19699 |
| bmw           | gas       | two          |     16430 | 18700.0000 |     20970 |
| bmw           | gas       | four         |     16925 | 19015.0000 |     21105 |
| porsche       | gas       | two          |     22018 | 22018.0000 |     22018 |
| volvo         | diesel    | four         |     22470 | 22470.0000 |     22470 |
| volvo         | gas       | four         |     12940 | 17622.5000 |     22625 |
| audi          | gas       | four         |     17450 | 19678.3333 |     23875 |
| mercedes-benz | diesel    | two          |     28176 | 28176.0000 |     28176 |
| mercedes-benz | diesel    | four         |     25552 | 28466.6667 |     31600 |
| jaguar        | gas       | four         |     32250 | 32250.0000 |     32250 |
| mercedes-benz | gas       | two          |     35056 | 35056.0000 |     35056 |
+---------------+-----------+--------------+-----------+------------+-----------+

In [18]:
%%writefile /tmp/query_make.sql
USE vehicles; 
SELECT make,fuel_type, num_of_doors,MIN(price) AS min_price,AVG(price) AS avg_price,MAX(price) AS max_price 
FROM cars 
WHERE make = {}{}{}
GROUP BY fuel_type,num_of_doors,make 
ORDER BY max_price;

Overwriting /tmp/query_make.sql

In [19]:
def make_query(make):
    file = open("/tmp/query_make.sql", 'r').read()
    query = file.format("'",str(make),"'")
    query_path = "tmp/query_make_{}.sql".format(make)
    with open(query_path, 'w') as f:
        f.write(query)
    f.close()
    return query_path

In [20]:
make_query("jaguar")

'tmp/query_make_jaguar.sql'

In [21]:
make_query("mazda")

'tmp/query_make_mazda.sql'

In [22]:
make_query("toyota")

'tmp/query_make_toyota.sql'

In [26]:
!mariadb --help

mariadb  Ver 15.1 Distrib 10.3.34-MariaDB, for debian-linux-gnu (x86_64) using readline 5.2
Copyright (c) 2000, 2018, Oracle, MariaDB Corporation Ab and others.

Usage: mariadb [OPTIONS] [database]

Default options are read from the following files in the given order:
/etc/my.cnf /etc/mysql/my.cnf ~/.my.cnf
The following groups are read: mysql client client-server client-mariadb
The following options may be given as the first argument:
--print-defaults          Print the program argument list and exit.
--no-defaults             Don't read default options from any option file.
The following specify which files/extra groups are read (specified before remaining options):
--defaults-file=#         Only read default options from the given file #.
--defaults-extra-file=#   Read this file after the global files are read.
--defaults-group-suffix=# Additionally read default groups with # appended as a suffix.

  -?, --help          Display this help and exit.
  -I, --help          Synonym for -?
  --abort-source-on-error
                      Abort 'source filename' operations in case of errors
  --auto-rehash       Enable automatic rehashing. One doesn't need to use
                      'rehash' to get table and field completion, but startup
                      and reconnecting may take a longer time. Disable with
                      --disable-auto-rehash.
                      (Defaults to on; use --skip-auto-rehash to disable.)
  -A, --no-auto-rehash
                      No automatic rehashing. One has to use 'rehash' to get
                      table and field completion. This gives a quicker start of
                      mysql and disables rehashing on reconnect.
  --auto-vertical-output
                      Automatically switch to vertical output mode if the
                      result is wider than the terminal width.
  -B, --batch         Don't use history file. Disable interactive behavior.
                      (Enables --silent.)
  --binary-as-hex     Print binary data as hex
  --character-sets-dir=name
                      Directory for character set files.
  --column-type-info  Display column type information.
  -c, --comments      Preserve comments. Send comments to the server. The
                      default is --skip-comments (discard comments), enable
                      with --comments.
  -C, --compress      Use compression in server/client protocol.
  -#, --debug[=#]     This is a non-debug version. Catch this and exit.
  --debug-check       Check memory and open file usage at exit.
  -T, --debug-info    Print some debug info at exit.
  -D, --database=name Database to use.
  --default-character-set=name
                      Set the default character set.
  --delimiter=name    Delimiter to be used.
  -e, --execute=name  Execute command and quit. (Disables --force and history
                      file.)
  -E, --vertical      Print the output of a query (rows) vertically.
  -f, --force         Continue even if we get an SQL error. Sets
                      abort-source-on-error to 0
  -G, --named-commands
                      Enable named commands. Named commands mean this program's
                      internal commands; see mysql> help . When enabled, the
                      named commands can be used from any line of the query,
                      otherwise only from the first line, before an enter.
                      Disable with --disable-named-commands. This option is
                      disabled by default.
  -i, --ignore-spaces Ignore space after function names.
  --init-command=name SQL Command to execute when connecting to MySQL server.
                      Will automatically be re-executed when reconnecting.
  --local-infile      Enable/disable LOAD DATA LOCAL INFILE.
  -b, --no-beep       Turn off beep on error.
  -h, --host=name     Connect to host.
  -H, --html          Produce HTML output.
  -X, --xml           Produce XML output.
  --line-numbers      Write line numbers for errors.
                      (Defaults to on; use --skip-line-numbers to disable.)
  -L, --skip-line-numbers
                      Don't write line number for errors.
  -n, --unbuffered    Flush buffer after each query.
  --column-names      Write column names in results.
                      (Defaults to on; use --skip-column-names to disable.)
  -N, --skip-column-names
                      Don't write column names in results.
  --sigint-ignore     Ignore SIGINT (CTRL-C).
  -o, --one-database  Ignore statements except those that occur while the
                      default database is the one named at the command line.
  --pager[=name]      Pager to use to display results. If you don't supply an
                      option, the default pager is taken from your ENV variable
                      PAGER. Valid pagers are less, more, cat [> filename],
                      etc. See interactive help (\h) also. This option does not
                      work in batch mode. Disable with --disable-pager. This
                      option is disabled by default.
  -p, --password[=name]
                      Password to use when connecting to server. If password is
                      not given it's asked from the tty.
  -P, --port=#        Port number to use for connection or 0 for default to, in
                      order of preference, my.cnf, $MYSQL_TCP_PORT,
                      /etc/services, built-in default (3306).
  --progress-reports  Get progress reports for long running commands (like
                      ALTER TABLE)
                      (Defaults to on; use --skip-progress-reports to disable.)
  --prompt=name       Set the mysql prompt to this value.
  --protocol=name     The protocol to use for connection (tcp, socket, pipe,
                      memory).
  -q, --quick         Don't cache result, print it row by row. This may slow
                      down the server if the output is suspended. Doesn't use
                      history file.
  -r, --raw           Write fields without conversion. Used with --batch.
  --reconnect         Reconnect if the connection is lost. Disable with
                      --disable-reconnect. This option is enabled by default.
                      (Defaults to on; use --skip-reconnect to disable.)
  -s, --silent        Be more silent. Print results with a tab as separator,
                      each row on new line.
  -S, --socket=name   The socket file to use for connection.
  --ssl               Enable SSL for connection (automatically enabled with
                      other flags).
  --ssl-ca=name       CA file in PEM format (check OpenSSL docs, implies
                      --ssl).
  --ssl-capath=name   CA directory (check OpenSSL docs, implies --ssl).
  --ssl-cert=name     X509 cert in PEM format (implies --ssl).
  --ssl-cipher=name   SSL cipher to use (implies --ssl).
  --ssl-key=name      X509 key in PEM format (implies --ssl).
  --ssl-crl=name      Certificate revocation list (implies --ssl).
  --ssl-crlpath=name  Certificate revocation list path (implies --ssl).
  --ssl-verify-server-cert
                      Verify server's "Common Name" in its cert against
                      hostname used when connecting. This option is disabled by
                      default.
  -t, --table         Output in table format.
  --tee=name          Append everything into outfile. See interactive help (\h)
                      also. Does not work in batch mode. Disable with
                      --disable-tee. This option is disabled by default.
  -u, --user=name     User for login if not current user.
  -U, --safe-updates  Only allow UPDATE and DELETE that uses keys.
  -U, --i-am-a-dummy  Synonym for option --safe-updates, -U.
  -v, --verbose       Write more. (-v -v -v gives the table output format).
  -V, --version       Output version information and exit.
  -w, --wait          Wait and retry if connection is down.
  --connect-timeout=# Number of seconds before connection timeout.
  --max-allowed-packet=#
                      The maximum packet length to send to or receive from
                      server.
  --net-buffer-length=#
                      The buffer size for TCP/IP and socket communication.
  --select-limit=#    Automatic limit for SELECT when using --safe-updates.
  --max-join-size=#   Automatic limit for rows in a join when using
                      --safe-updates.
  --secure-auth       Refuse client connecting to server if it uses old
                      (pre-4.1.1) protocol.
  --server-arg=name   Send embedded server this as a parameter.
  --show-warnings     Show warnings after every statement.
  --plugin-dir=name   Directory for client-side plugins.
  --default-auth=name Default authentication client-side plugin to use.
  --binary-mode       Binary mode allows certain character sequences to be
                      processed as data that would otherwise be treated with a
                      special meaning by the parser. Specifically, this switch
                      turns off parsing of all client commands except \C and
                      DELIMITER in non-interactive mode (i.e., when binary mode
                      is combined with either 1) piped input, 2) the --batch
                      mysql option, or 3) the 'source' command). Also, in
                      binary mode, occurrences of '\r\n' and ASCII '\0' are
                      preserved within strings, whereas by default, '\r\n' is
                      translated to '\n' and '\0' is disallowed in user input.

Variables (--variable-name=value)
and boolean options {FALSE|TRUE}  Value (after reading options)
--------------------------------- ----------------------------------------
abort-source-on-error             FALSE
auto-rehash                       TRUE
auto-vertical-output              FALSE
binary-as-hex                     FALSE
character-sets-dir                (No default value)
column-type-info                  FALSE
comments                          FALSE
compress                          FALSE
debug-check                       FALSE
debug-info                        FALSE
database                          (No default value)
default-character-set             utf8mb4
delimiter                         ;
vertical                          FALSE
force                             FALSE
named-commands                    FALSE
ignore-spaces                     FALSE
init-command                      (No default value)
local-infile                      FALSE
no-beep                           FALSE
host                              (No default value)
html                              FALSE
xml                               FALSE
line-numbers                      TRUE
unbuffered                        FALSE
column-names                      TRUE
sigint-ignore                     FALSE
port                              0
progress-reports                  TRUE
prompt                            \N [\d]>
quick                             FALSE
raw                               FALSE
reconnect                         TRUE
socket                            /var/run/mysqld/mysqld.sock
ssl                               FALSE
ssl-ca                            (No default value)
ssl-capath                        (No default value)
ssl-cert                          (No default value)
ssl-cipher                        (No default value)
ssl-key                           (No default value)
ssl-crl                           (No default value)
ssl-crlpath                       (No default value)
ssl-verify-server-cert            FALSE
table                             FALSE
user                              (No default value)
safe-updates                      FALSE
i-am-a-dummy                      FALSE
connect-timeout                   0
max-allowed-packet                16777216
net-buffer-length                 16384
select-limit                      1000
max-join-size                     1000000
secure-auth                       FALSE
show-warnings                     FALSE
plugin-dir                        (No default value)
default-auth                      (No default value)
binary-mode                       FALSE

In [23]:
!mariadb -u root < tmp/query_make_jaguar.sql > tmp/results_jaguar.csv
!cat tmp/results_jaguar.csv

make	fuel_type	num_of_doors	min_price	avg_price	max_price
jaguar	gas	four	32250	32250.0000	32250

In [24]:
!mariadb -u root < tmp/query_make_mazda.sql > tmp/results_mazda.csv
!cat tmp/results_mazda.csv

make	fuel_type	num_of_doors	min_price	avg_price	max_price
mazda	gas	two	5195	7505.0000	10595
mazda	gas	four	6695	10392.5000	18280

In [25]:
!mariadb -u root < tmp/query_make_toyota.sql > tmp/results_toyota.csv
!cat tmp/results_toyota.csv

make	fuel_type	num_of_doors	min_price	avg_price	max_price
toyota	diesel	four	7788	8794.6667	10698
toyota	gas	four	6488	9024.5714	15690
toyota	gas	two	5348	10562.0000	17669

**Operaciones de ventana**

In [18]:
%%writefile /tmp/mariadb_window_func_1.sql
USE vehicles;
SELECT 
RANK() OVER (PARTITION BY engine_location ORDER BY aspiration DESC) AS rank, 
DENSE_RANK() OVER (PARTITION BY engine_location ORDER BY aspiration DESC) AS dense_rank, 
ROW_NUMBER() OVER (PARTITION BY engine_location ORDER BY aspiration DESC) AS row_num,
engine_location, aspiration
FROM cars;

Overwriting /tmp/mariadb_window_func_1.sql

In [19]:
!mariadb -u root < /tmp/mariadb_window_func_1.sql

rank	dense_rank	row_num	engine_location	aspiration
1	1	1	front	turbo
1	1	2	front	turbo
1	1	3	front	turbo
1	1	4	front	turbo
1	1	5	front	turbo
1	1	6	front	turbo
1	1	7	front	turbo
1	1	8	front	turbo
1	1	9	front	turbo
1	1	10	front	turbo
1	1	11	front	turbo
1	1	12	front	turbo
1	1	13	front	turbo
1	1	14	front	turbo
1	1	15	front	turbo
1	1	16	front	turbo
1	1	17	front	turbo
1	1	18	front	turbo
1	1	19	front	turbo
1	1	20	front	turbo
1	1	21	front	turbo
1	1	22	front	turbo
1	1	23	front	turbo
1	1	24	front	turbo
1	1	25	front	turbo
1	1	26	front	turbo
1	1	27	front	turbo
28	2	28	front	std
28	2	29	front	std
28	2	30	front	std
28	2	31	front	std
28	2	32	front	std
28	2	33	front	std
28	2	34	front	std
28	2	35	front	std
28	2	36	front	std
28	2	37	front	std
28	2	38	front	std
28	2	39	front	std
28	2	40	front	std
28	2	41	front	std
28	2	42	front	std
28	2	43	front	std
28	2	44	front	std
28	2	45	front	std
28	2	46	front	std
28	2	47	front	std
28	2	48	front	std
28	2	49	front	std
28	2	50	front	std
28	2	51	front	std
28	2	52	front	std
28	2	53	front	std
28	2	54	front	std
28	2	55	front	std
28	2	56	front	std
28	2	57	front	std
28	2	58	front	std
28	2	59	front	std
28	2	60	front	std
28	2	61	front	std
28	2	62	front	std
28	2	63	front	std
28	2	64	front	std
28	2	65	front	std
28	2	66	front	std
28	2	67	front	std
28	2	68	front	std
28	2	69	front	std
28	2	70	front	std
28	2	71	front	std
28	2	72	front	std
28	2	73	front	std
28	2	74	front	std
28	2	75	front	std
28	2	76	front	std
28	2	77	front	std
28	2	78	front	std
28	2	79	front	std
28	2	80	front	std
28	2	81	front	std
28	2	82	front	std
28	2	83	front	std
28	2	84	front	std
28	2	85	front	std
28	2	86	front	std
28	2	87	front	std
28	2	88	front	std
28	2	89	front	std
28	2	90	front	std
28	2	91	front	std
28	2	92	front	std
28	2	93	front	std
28	2	94	front	std
28	2	95	front	std
28	2	96	front	std
28	2	97	front	std
28	2	98	front	std
28	2	99	front	std
28	2	100	front	std
28	2	101	front	std
28	2	102	front	std
28	2	103	front	std
28	2	104	front	std
28	2	105	front	std
28	2	106	front	std
28	2	107	front	std
28	2	108	front	std
28	2	109	front	std
28	2	110	front	std
28	2	111	front	std
28	2	112	front	std
28	2	113	front	std
28	2	114	front	std
28	2	115	front	std
28	2	116	front	std
28	2	117	front	std
28	2	118	front	std
28	2	119	front	std
28	2	120	front	std
28	2	121	front	std
28	2	122	front	std
28	2	123	front	std
28	2	124	front	std
28	2	125	front	std
28	2	126	front	std
28	2	127	front	std
28	2	128	front	std
28	2	129	front	std
28	2	130	front	std
28	2	131	front	std
28	2	132	front	std
28	2	133	front	std
28	2	134	front	std
28	2	135	front	std
28	2	136	front	std
28	2	137	front	std
28	2	138	front	std
28	2	139	front	std
28	2	140	front	std
28	2	141	front	std
28	2	142	front	std
28	2	143	front	std
28	2	144	front	std
28	2	145	front	std
28	2	146	front	std
28	2	147	front	std
28	2	148	front	std
28	2	149	front	std
28	2	150	front	std
28	2	151	front	std
28	2	152	front	std
28	2	153	front	std
28	2	154	front	std
28	2	155	front	std
28	2	156	front	std
28	2	157	front	std
28	2	158	front	std

In [20]:
%%writefile /tmp/mariadb_window_func_2.sql
USE vehicles;
SELECT 
Id, drive_wheels, price,
LAG(price,1) OVER (ORDER BY price) AS price_lag
FROM cars;

Overwriting /tmp/mariadb_window_func_2.sql

In [21]:
!mariadb -u root < /tmp/mariadb_window_func_2.sql

Id	drive_wheels	price	price_lag
97	fwd	5118	NULL
8	fwd	5151	5118
33	fwd	5195	5151
109	fwd	5348	5195
49	fwd	5389	5348
21	fwd	5399	5389
59	fwd	5499	5399
84	fwd	5572	5499
11	fwd	5572	5572
34	fwd	6095	5572
50	fwd	6189	6095
14	fwd	6229	6189
86	fwd	6229	6229
9	fwd	6295	6229
110	fwd	6338	6295
12	fwd	6377	6338
19	fwd	6479	6377
111	fwd	6488	6479
22	fwd	6529	6488
10	fwd	6575	6529
61	fwd	6649	6575
51	fwd	6669	6649
15	fwd	6692	6669
87	fwd	6692	6692
36	fwd	6695	6692
35	fwd	6795	6695
62	fwd	6849	6795
20	fwd	6855	6849
112	fwd	6918	6855
115	fwd	6938	6918
55	fwd	6989	6938
98	fwd	7053	6989
60	fwd	7099	7053
100	fwd	7126	7099
23	fwd	7129	7126
116	fwd	7198	7129
24	fwd	7295	7198
25	fwd	7295	7295
64	fwd	7299	7295
63	fwd	7349	7299
37	fwd	7395	7349
105	fwd	7463	7395
66	fwd	7499	7463
99	4wd	7603	7499
88	fwd	7609	7603
16	fwd	7609	7609
52	fwd	7689	7609
119	fwd	7738	7689
140	fwd	7775	7738
101	fwd	7775	7775
118	fwd	7788	7775
65	fwd	7799	7788
26	fwd	7895	7799
113	4wd	7898	7895
117	fwd	7898	7898
13	fwd	7957	7898
85	fwd	7957	7957
141	fwd	7975	7957
142	fwd	7995	7975
67	fwd	7999	7995
107	4wd	8013	7999
122	rwd	8058	8013
56	fwd	8189	8058
143	fwd	8195	8189
123	rwd	8238	8195
68	fwd	8249	8238
120	fwd	8358	8249
126	rwd	8449	8358
39	fwd	8495	8449
144	fwd	8495	8495
54	fwd	8499	8495
114	4wd	8778	8499
28	fwd	8845	8778
38	fwd	8845	8845
17	fwd	8921	8845
89	fwd	8921	8921
132	fwd	8948	8921
69	fwd	8949	8948
27	fwd	9095	8949
103	4wd	9233	9095
121	fwd	9258	9233
57	fwd	9279	9258
58	fwd	9279	9279
124	rwd	9298	9279
145	fwd	9495	9298
125	rwd	9538	9495
70	fwd	9549	9538
127	rwd	9639	9549
53	fwd	9959	9639
102	fwd	9960	9959
147	fwd	9980	9960
134	fwd	9988	9980
128	rwd	9989	9988
146	fwd	9995	9989
106	fwd	10198	9995
41	fwd	10245	10198
29	fwd	10295	10245
31	fwd	10345	10295
40	fwd	10595	10345
133	fwd	10698	10595
135	fwd	10898	10698
129	rwd	11199	10898
42	fwd	11245	11199
136	fwd	11248	11245
104	4wd	11259	11248
130	rwd	11549	11259
108	4wd	11694	11549
91	fwd	11850	11694
77	rwd	11900	11850
92	fwd	12170	11900
148	rwd	12940	12170
30	fwd	12945	12940
18	fwd	12964	12945
78	rwd	13200	12964
149	rwd	13415	13200
73	fwd	13499	13415
71	fwd	13499	13499
72	fwd	14399	13499
93	fwd	15040	14399
94	fwd	15510	15040
79	rwd	15580	15510
139	rwd	15690	15580
150	rwd	15985	15690
138	rwd	15998	15985
4	rwd	16430	15998
151	rwd	16515	16430
137	rwd	16558	16515
81	rwd	16630	16558
154	rwd	16845	16630
80	rwd	16900	16845
5	rwd	16925	16900
74	rwd	17199	16925
1	4wd	17450	17199
131	rwd	17669	17450
2	fwd	17710	17669
82	rwd	17950	17710
83	rwd	18150	17950
95	fwd	18150	18150
43	rwd	18280	18150
76	rwd	18399	18280
152	rwd	18420	18399
96	fwd	18620	18420
153	rwd	18950	18620
155	rwd	19045	18950
75	rwd	19699	19045
6	rwd	20970	19699
7	rwd	21105	20970
156	rwd	21485	21105
90	rwd	22018	21485
157	rwd	22470	22018
158	rwd	22625	22470
3	fwd	23875	22625
44	rwd	25552	23875
46	rwd	28176	25552
45	rwd	28248	28176
47	rwd	31600	28248
32	rwd	32250	31600
48	rwd	35056	32250

---